.header-container{
    width: 100%;
    min-height: 70px;
    background-color: #157396;
   
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
     padding: 10px;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.nav-links > a{
    text-decoration: none;
    color: white !important;
}
.button-login{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-login button{
    width: 40px;
    cursor: pointer;
    height: 40px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 50%;
}


.about-link{
    color: white !important;
    cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  background: white;
  min-width: 140px;

  display: flex;
  flex-direction: column;

  padding: 10px;
  gap: 10px;

  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);

  z-index: 100;
}

.dropdown-menu a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}


